/* Qui dichiaro il mio custon font*/

@font-face
{
  font-family: 'BallparkWeiner';
  src:url('polices/ballpark.eot'),
  src:url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
      url('polices/ballpark.woff') format('woff'),
      url('polices/ballpark.ttf') format('truetype'),
      url('polices/ballpark.svg#BallparkWeiner') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face
{
  font-family: 'Dayrom';
  src: url('polices/dayrom.eot');
  src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
       url('polices/dayrom.woff') format('woff'),
       url('polices/dayrom.ttf') format('truetype'),
       url('polices/dayrom.svg#Dayrom') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Sezione dove dichiaro gli elementi della pagina */

body
{
  background-color: yellow; /* in mancanza del background ho messo semplicemente il colore giallo */
  font-family: 'Trebuchet MS', Arial, sans-serif;
  color: black;
}

#main_wrapper /* questo viene dichiarato per un id */
{
  width: 900px;
  margin: auto;
}

section h1, footer h1, nav a
{
  font-family: 'Dayrom', serif; /* Nell'esempio originale non mette le virgolette nel font-family */
  font-weight: normal;
  text-transform: uppercase;
}


/* dichiaro l'Header */
header
{
  background: url('images/line.png'); /* manca la linea, per sopperire o si fa un margin oppure si crea la linea con paint ;) */
}

#main_title
{
  display: inline-block;
}

header h1
{
  font-family: 'Ballparkweiner', serif;
  font-size: 2.5em;
  font-weight: normal;
}

#logo, header h1
{
  display: inline-block;
  margin-bottom: 0px;
}

header h2
{
  font-family: 'Dayrom', serif; /* Anche qui si dimentica le virgolette nel font-family */
  font-size: 1.1em;
  margin-top: 0px;
  font-weight: normal;
}
